.element {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding: 1.2rem;
}

.projectName {
  font-size: 2rem;
}

.projectDetails {
  font-size: 1.4rem;
  color: #676767;
}

ion-icon {
  font-size: 2rem;
}

.element:hover {
  background-color: #e6e6e6;
  cursor: pointer;
  border-radius: 1.2rem;
}
