.listItem {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 16fr;
  align-items: center;
  text-align: center;
  padding: 0 1.2rem;
  gap: 1.2rem;
  background-color: #fff;
  transition: 0.4s ease all;
  border-bottom: var(--containerBorderNavy);

  &:last {
    border: none;
  }

  .testCaseLink {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr;
    align-items: center;
    padding: 0.9rem 0;
    color: inherit;
    text-decoration: none;
    height: 100%;

    &:hover {
      cursor: pointer;
    }
  }

  .labelSection {
    height: 100%;

    label {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .btnDrag {
    display: none;
    text-align: center;
  }

  &:hover {
    background-color: var(--containerBgNavy);

    .btnDrag {
      display: block;
      position: absolute;
      cursor: grab;
      left: 1%;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .testCaseName,
  .moduleName {
    justify-self: flex-start;
    text-align: left;

    padding-left: 2.4rem;
  }

  .testCaseName {
    font-weight: 500;
  }

  .status,
  .execution {
    justify-self: center;
    padding: 0.6rem;
    /* margin: 0.6rem 0; */
    border-radius: 0.6rem;
    width: 80%;
    color: #fff;
    font-weight: 600;
    text-align: center;
  }

  .todo {
    background-color: #7c7c7c;
  }

  .passed {
    background-color: rgb(88, 122, 37);
    color: #fff;
  }

  .failed {
    background-color: rgb(204, 65, 65);
    color: #fff;
  }

  .skipped {
    background-color: #915200;
  }

  .manual {
    background-color: rgb(184, 1, 184);
    color: #fff;
  }

  .automated {
    background-color: green;
    color: #fff;
  }

  .selectedItem {
    background-color: #aaa !important;
  }
}
