.modalField {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  /* text-align: center; */
}

.modalFieldWholeLine {
  align-items: stretch;
  flex-direction: column;
}

label {
  font-size: 1.4rem;
  font-weight: 500;
  font-family: system-ui, sans-serif;
}

input,
select {
  background-color: var(--bgFormField);
  border: none;
  padding: 1.2rem;
  border-radius: 0.6rem;
}

input:disabled,
select:disabled {
  background-color: var(--bgFormField);
  opacity: 1;
  color: var(--colorFormFieldDisabled);
}

.disabledSelect {
  appearance: none;
}

.disabledSelect:hover {
  cursor: auto;
}

select:hover {
  cursor: pointer;
}
