.modalField {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.modalFieldWholeLine {
  align-items: stretch;
  flex-direction: column;
}

label {
  font-size: 1.4rem;
  font-weight: 500;
  font-family: system-ui, sans-serif;
}

input,
select {
  background-color: #f3f3f3;
  border: none;
  padding: 1.2rem;
  border-radius: 0.6rem;
}

select:hover {
  cursor: pointer;
}
