.list {
  /* margin-top: 1.6rem; */
  display: flex;
  flex-direction: column;
  /* gap: 1.2rem; */
  font-size: 1.4rem;
}

.listHeader {
  border-bottom: 1px solid #e6e6e6;
  /* font-size: 1.6rem; */
  font-weight: 600;
  background-color: #fbfbfb;
}

.listHeader label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.listHeader,
.listItem {
  display: grid;
  grid-template-columns: 1fr 27fr 7fr 7fr 7fr;
  align-items: center;
  gap: 1.2rem;
  padding: 0.9rem 0.6rem;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.moduleHeader {
  display: grid;
  grid-template-columns: 1fr 48fr;
  padding: 1.2rem 0.6rem;
  background-color: #ddd;
  text-align: center;
}

.listItem {
  transition: 0.4s ease all;
}
.listItem:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

ul {
  list-style: none;
  max-height: 100vh;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.testCaseLink {
  color: inherit;
  text-decoration: none;
  display: block;
}

.status,
.execution {
  justify-self: center;
  padding: 0.6rem;
  /* margin: 0.6rem 0; */
  border-radius: 0.6rem;
  width: 80%;
  color: #fff;
  font-weight: 600;
}

.todo {
  background-color: #7c7c7c;
}

.passed {
  background-color: rgb(88, 122, 37);
  color: #fff;
}

.failed {
  background-color: rgb(204, 65, 65);
  color: #fff;
}

.skipped {
  background-color: #915200;
}

.manual {
  background-color: rgb(184, 1, 184);
  color: #fff;
}

.automated {
  background-color: green;
  color: #fff;
}

.selectedItem {
  background-color: #aaa;
}
