.modalOverlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modalContent {
  position: relative;
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  width: 60%;
  max-height: 95%;
  overflow-y: auto;
}

.title {
  font-size: 2rem;
}

.subtitle {
  color: #777;
}

.modalFields {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.closeBtn {
  position: absolute;
  top: 2%;
  right: 2%;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.modalBtns {
  margin-top: 3rem;
  display: flex;
  justify-content: end;
  gap: 1.2rem;
}
